body {
    margin: 0%;
}

header{
    margin-top: 20px;
    margin-bottom: 1px;
    background-color: #092576;
    color: white;
    text-align: right;
    height: 150px;
    padding: 4%;
}



h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
    color: #092576;
}

hr {
    color: #092576;
    border: 100%;
}

li {
    color: #092576;
}

p {
    color: #092576;
}




.derecha {
    background-color: white;
    text-align: left;
    width: 57%;
    margin-left: 24%;
    margin-top: 20%;
    padding: 1%;
    height: 200px;

}


div {
    background-color: #1c54af;
    color: white;
    width: 20%;
    text-align: left;
    padding: 2%;
    height: 800px;
    position: fixed;
    top: 0%;
    left: 100px;
}




.juan {
    border-radius: 100%;
    width: 120px;
    height: 120px;
    text-align: center;
}

img {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.titulo_bloque {
    color: white;
}

.lista_bloque {
    color: white;
}

a {
    color: white;
}
